body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.inner {
    text-align: center;
    margin-top: 200px;
}
.inner h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 30px;
}

.inner p {
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 50px;
}