/* ヘッダー */
header {
    color: #000000;
}



.ui.secondary.menu {
    padding: 8px;
    margin: 0 !important;
    background: #fff!important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)!important;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 90px;
    height: auto;
}

.right.menu{
    justify-content: flex-end;
    }

/* メイン */
/* body{
    background-color: #edf2f7;
} */
.body-bg {
    background: #edf2f7;
}
main {
    min-height: 550px;
}

/* フッター */
footer {
    width: 100%;
    padding: 3px 0;
    /* background-color: rgb(35, 35, 35); */
    color: #000000;
    text-align: center;
    position: bottom;
    bottom: 0;
}

.hamburger {
    display: none
}


/* Mobile */
@media only screen and (max-width: 767px) {

    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }

    .right.menu {
        display: none;
    }

    .hamburger {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 16px;
        top: 8px;
        cursor: pointer;
        display: block;
    }

    .hamburger i {
        color: #666;
        font-size: 30px!important;
        line-height: 80px!important;
    }

    .ui.stackable.menu .item:not(.header) {
        height: 0;
        opacity: 0;
        transition: all .5s, opacity .25s;
        padding: 0 10px;
    }

    .ui.stackable.menu.open .item:not(.header) {
        height: auto;
        opacity: 1;
        transition: all .5s, opacity .25s;
        padding: 10px;
        margin: 2px 0;
    }

    .ui.stackable.menu.open {
        padding-bottom: 12px;
        border-radius: 0 0 24px 24px;
        transition: all .5s ease;
    }
}

