body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header {
    padding: 20px 0;
    color: #000000;
}
.logo img {
    width: 350px;
    height: 250px;
}