body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



/* メイン */
.inner {
    text-align: center;
    margin: 50px 150px;
}

.inner h3 {
    font-weight: 100;
    margin-bottom: 50px;
}

.btn {
    margin-top: 30px;
    
}