body {
    margin: 0;
    padding: 0;
    background-color: #edf2f7;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 4%;
    min-height: 630px;
}



.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
/***** ヘッダー *****/
header {
    color: #000000;
    background-color: #ffffff;
  }
.logo img {
    width: 180px;
    height: auto;
}
  
.right.menu{
  justify-content: flex-end;
  }
/* *************** */

/* メイン */
.title {
    margin: 0px 100px;
    margin-bottom: 30px;
}

a.go-list {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.image {
    text-align: center;
}

.image img{
    width: 50%;
    height: auto;
    padding: 7%;
}

.card {
    width: 31.8%!important;
    font-size: 1.2rem!important;
    line-height: 2.3rem!important;
}


.ui.centered.cards {
    justify-content: flex-start;
    padding: 0 7%;
}

.flex-container{
    display: flex;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0 7%;
}


/* フッター */
footer {
    padding: 20px 0;
}