body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header {
    padding: 20px 0;
    color: #000000;
}
.logo img {
    width: 350px;
    height: 250px;
}
.menu {
    font-size: 25px;
    margin-right: 50px;
}
.menu li {
    margin-left: 50px;
}
.menu li a {
    transition: 0.3s;
}
.menu li a:hover {
    color: #80BA4A;
    transition: 0.3s;
}

/* メイン */
main {
    padding: 70px 80px;
}
.main-figure {
    width: 500px;
    height: 250px;
}
.phrase {
    text-align: left;
    font-size: 40px;
}


/* フッター */
footer {
    width: 100%;
    padding: 3px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: bottom;
    bottom: 0;
}