<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <title>テストWebアプリ</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='images/arrow.png') }}" class="preview" id="previewImage" onclick="document.getElementById('fileInput').click();">
        <input type="file" id="fileInput" accept='image/*' onchange="preview(this, 'previewImage');">
        <h2>ファイルをアップロード</h2>
        <div class="green-square"></div>
    </div>
</body>
</html>