<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style-cancel.css">
    <title>SUCCESS</title>
</head>

<body>
    <header class="container flex">
        <a href="/" class="logo">
            <img src="../static/images/logo.png">
        </a>
    </header>

    <main class="container">
        <h3>予期せぬエラーが発生しました</h1>
        <a href="{{ url_for('index') }}">ホームに戻る</a>
    </main>

</body>

</html>