<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-edit.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://js.stripe.comz/v3/"></script> -->
    <script src="{{ url_for('static', filename='javascript/hamburger.js') }}"></script>
    <title>Edit Page</title>
</head>
<header>
    <div class="ui secondary menu stackable header-sticky">
        <a href="{{ url_for('index') }}" class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
        {% if current_user.is_authenticated %}
        <a class="item" href="{{ url_for('index') }}">トップページ</a>
        <a class="item" href="{{ url_for('preview') }}">プレゼント登録</a>
        <a class="item" href="{{ url_for('list', success=success_param) }}">マイリスト</a>
        <div class="right menu">
            <a class="ui item" href="{{ url_for('logout') }}">ログアウト</a>
        </div>
        {% else %}
        <div class="right menu">
            <a class="ui item" href="{{ url_for('register') }}">新規会員登録</a>
            <a class="ui item" href="{{ url_for('login') }}">ログイン</a>
        </div>
        {% endif %}
        <div class="hamburger">
            <i id="hamburger-toggle" class="icon bars"></i>
        </div>
    </div>
</header>

<body>
    <div class="form-container">
        <div class="ui ccontainer">
            <h2 id="editor-title" class="ui center aligned">投稿を編集</h2>
            <div class="ui form">
                <form method="POST" enctype="multipart/form-data" action="">
                    <div class="flex">
                        <div class="image">
                            <img src="{{ url_for('static', filename='up/' + post.file_path) }}" class="preview"
                                onclick="document.getElementById('fileInput').click();">

                            <img src="" id="previewImage" class="preview" style="display: none;">
                            <!-- ボタンを押したらファイル選択ができるようにしたい -->
                            <button class="ui button" style="margin: 5%; "
                                onclick="document.getElementById('fileInput').click(); return false;">
                                ファイルを変更
                            </button>
                            <input type="file" name="file" accept="image/*" id="fileInput" style="display: none;">

                        </div>
                        <div class="content">

                            <label for="title">Title:</label>
                            <input type="text" name="title" value="{{ post.title }}">
                            <div class="description">
                                <label for="memo">Note:</label>
                                <textarea name="note" rows="10">{{ post.note }}</textarea>
                            </div>

                            <div class="button_flex">
                                <button id="submit-button" class="ui fluid large teal submit button"
                                    type="submit">更新する</button>

                                <a href="{{ url_for('delete_entry', id=post.id) }}"
                                    class="ui button red large submit button"
                                    onclick="return confirm('本当に削除してもよろしいですか？')">削除</a>

                            </div>
                            <div class="button_back"><a href="{{ url_for('list', success=success_param) }}"
                                    class="ui button large submit button">戻る</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <!-- <div class="container"> -->
        <p>&copy; 2024 AITOTO. All rights reserved.</p>
        <!-- </div> -->
    </footer>

    <script>
        window.onload = function () {
            var fileInput = document.getElementById('fileInput');
            var previewImage = document.getElementById('previewImage');
            var deleteButton = document.getElementById('delete-button');

            fileInput.addEventListener('change', function (event) {
                var file = event.target.files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                        previewImage.style.display = 'block'; // プレビュー画像を表示
                        document.querySelector('.image img.preview').style.display = 'none'; // 元の画像を非表示
                    };
                    reader.readAsDataURL(file);
                }
                // フォームの submit を防ぐ
                event.preventDefault();
            });

        };
    </script>
</body>

</html>