<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.css">
    <link rel="stylesheet" href="static/css/style-gift_return.css">
    <title>お返し</title>
</head>

<body>
    <header class="container flex">
        <a href="/" class="logo">
            <img src="../static/images/logo.png">
        </a>
    </header>

    <main>
        <div class="container flex">
            <h1 class="phrase">おすすめの返礼品はこれ！</h1>
        </div>
    </main>

</body>

</html>