<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style-common.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style-edit.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/style-gift_return.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style-index.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://js.stripe.comz/v3/"></script> -->
    <script src="/static/javascript/hamburger.js"></script>
    <title>Edit Page</title>
</head>
<header>
    <div class="ui secondary menu stackable header-sticky">
        <a href="/" class="logo">
            <img src="../static/images/logo.png">
        </a>
        {% if current_user.is_authenticated %}
        <a class="item" href="/">トップページ</a>
        <a class="item" href="/preview_page">プレゼント登録</a>
        <a class="item" href="/list">マイリスト</a>
        <div class="right menu">
            <a class="ui item" href="/logout">ログアウト</a>
        </div>
        {% else %}
        <div class="right menu">
            <a class="ui item" href="/register">新規会員登録</a>
            <a class="ui item" href="/login">ログイン</a>
        </div>
        {% endif %}
        <div class="hamburger">
            <i id="hamburger-toggle" class="icon bars"></i>
        </div>
    </div>
</header>

<body>
    <div class="form-container">
        <div class="ui ccontainer">
            <h2 id="editor-title" class="ui center aligned">おすすめプレゼントはこちら</h2>
            <div class="ui form">
                <div class="flex" id="product-display">
                    <div class="image">
                        <img src="{{ data[0].image }}" class="preview" id="product-image">
                    </div>
                    <div class="content">
                        <h2 id="product-name">{{ data[0].product_name }}</h2>
                        <div class="description">
                            <a href="{{ data[0].link }}" class="ui orange large button" target="_blank" id="product-link">購入はこちらから</a>
                        </div>
                        <div class="button_flex">
                            <button id="submit-button" class="ui fluid large teal submit button"
                                type="submit">このプレゼントをセーブする</button>
                            <button class="negative ui button" id="next-button">次へ</button>
                        </div>
                        <div class="button_back">
                            <a href="/submit_survey" class="ui button large submit button">アンケートへ戻る</a>
                            <a href="/" class="ui button large submit button">トップページへ戻る</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 AITOTO. All rights reserved.</p>
    </footer>

    <script>
        $(document).ready(function() {
            var currentIndex = 0;
            $('#next-button').click(function() {
                currentIndex += 1;
                $.getJSON('/get_item/' + currentIndex, function(data) {
                    $('#product-image').attr('src', data.image);
                    $('#product-name').text(data.product_name);
                    $('#product-link').attr('href', data.link);
                });
            });
        });
    </script>
    

</body>

</html>