<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@3.0.2/destyle.css">
    <link rel="stylesheet" href="static/css/style-index.css">
    <title>おもいでノート</title>
</head>

<body>
    <header class="container flex">
        <a href="/" class="logo">
            <img src="../static/images/logo.png">
        </a>
            <ul class="menu flex">
                {% if current_user.is_authenticated %}
                    <li><a href="/preview_page">プレゼント登録</a></li>
                    <li><a href="/list">マイリスト</a></li>
                    <li><a href="/logout">ログアウト</a></li>
                {% else %}
                    <li><a href="/login">ログイン</a></li>
                    <li><a href="/register">新規会員登録</a></li>
                {% endif %}
            </ul>
    </header>

    <main>
        <section id="hero" class="container">
            <div class="hero_inner">
                <h1>あなたの思い出をアーカイブ</h1>
                <p>お返し選びをサポートします</p>
            </div>
        </section>
        <div class="payment">
            <h2>プレミアム機能の紹介</h2>
            <p>プレミアムプランを購入して頂くと，開発メンバー全員でお返しを一緒に考えます．</p>
            <button><a href="https://buy.stripe.com/test_5kAfZaaUCg707YIaEE">購入する</a></button>
        </div>
    </main>

    <footer>
        <p>AITOTO</p>
    </footer>
</body>

</html>