<!-- トップページとなるページを追加しました -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        footer {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
        }

    </style>
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <title>おもいでノート</title>
</head>

<body>
    <!-- もしログインしていなかったらログインと会員登録を表示、そうでなければログアウトだけ表示させたい-->
    <header id="header">
        <nav>
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="/logout">ログアウト</a></li>
                    <li><a href="/submit_survey">アンケート</a></li>
                {% else %}
                    <li><a href="/login">ログイン</a></li>
                    <li><a href="/register">会員登録</a></li>
                    <li><a href="/submit_survey">アンケート</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="title">
        <h1>おもいでノート</h1>
    </div>
    
    <div class="container">
        <div id="upload">
            {% if current_user.is_authenticated %}
                <a href="/preview_page" class="go-list">
                    <h2>ファイルをアップロード</h2>
                </a>
            {% else %}
                <a href="/login" class="go-list">
                    <h2>ファイルをアップロード</h2>
                </a>
            {% endif %}
        </div>
        <div class="right">
            <div id="mylist">
                {% if current_user.is_authenticated %}
                    <a href="/list" class="go-list">
                        <h2>マイリスト</h2>
                    </a>
                {% else %}
                    <a href="/login" class="go-list">
                        <p>マイリスト</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <footer>
        <p>AITOTO</p>
    </footer>
</body>

</html>