<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style-preview.css">
    <title>プレゼント登録</title>
</head>

<body>
    <header class="flex">
        <a href="/" class="logo">
            <img src="../static/images/logo.png">
        </a>
    </header>

    <main>
        <div class="container flex">
            <form method="POST" enctype="multipart/form-data">
                <div class="title">
                    <label for="title">プレゼント名</label>
                    <input type="text" name="title" required>
                </div>
                <div class="memo">
                    <label for="memo">メモ</label>
                    <textarea name="memo" cols="30" rows="10"></textarea>
                </div>
                <div class="image">
                    <img src="{{ url_for('static', filename='images/arrow2.png') }}" onclick="document.getElementById('fileInput').click();">
                    <input type="file" name="file" accept="image/*" id="fileInput" required>
                    <img src="" id="previewImage">
                </div>
                <input type="submit" class="register" value="登録">
            </form>
        </div>
    </main>

    <script>
        window.onload = function () {
            var fileInput = document.getElementById('fileInput');
            var previewImage = document.getElementById('previewImage');

            fileInput.addEventListener('change', function (event) {
                var file = event.target.files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };
                    reader.readAsDataURL(file);
                }
            });
        };
    </script>
</body>

</html>