<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-common.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://js.stripe.comz/v3/"></script> -->
    <script src="{{ url_for('static', filename='javascript/hamburger.js') }}"></script>

    <title>新規会員登録</title>
</head>

<body class="body-bg">
    <header>
        <div class="ui secondary menu stackable header-sticky">
            <a href="{{ url_for('index') }}" class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
            </a>
            {% if current_user.is_authenticated %}
            <a class="item" href="{{ url_for('index') }}">トップページ</a>
            <a class="item" href="{{ url_for('preview_page') }}">プレゼント登録</a>
            <a class="item" href="{{ url_for('list') }}">マイリスト</a>
            <div class="right menu">
                <a class="ui item" href="{{ url_for('logout') }}">ログアウト</a>
            </div>
            {% else %}
            <div class="right menu">
                <a class="ui item" href="{{ url_for('register') }}">新規会員登録</a>
                <a class="ui item" href="{{ url_for('login') }}">ログイン</a>
            </div>
            {% endif %}
            <div class="hamburger">
                <i id="hamburger-toggle" class="icon bars"></i>
            </div>
        </div>
       
    </header>

    <div class="form-container">
        <div class="ui container">
            <h2 class="ui center aligned">新規登録</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}

            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST">
                <div class="ui form">
                    <div class="field">
                        <label>ユーザ名<span class="required-mark">*</span></label>
                        <input type="text" name="username" placeholder="ユーザ名">
                    </div>
                    <div class="field">
                        <label>パスワード<span class="required-mark">*</span></label>
                        <input type="password" name="password" placeholder="パスワード">
                    </div>
                    <label for="gender">性別<span class="required-mark">*</span></label>
                    <div class="gender-buttons">
                        <label class="gender-button" onclick="changeColor('blue')">
                            <input type="hidden" id="maleHidden" name="genderMale" value="">
                            <!-- Flaskで取得するため追加（非表示）value値はJSの関数changeColorで挿入 -->
                            <button type="button" id="male" class="css-button-sliding-to-left--sky" name="genderMale"
                                value="male">男性</button>
                        </label>
                        <label class="gender-button" onclick="changeColor('red')">
                            <input type="hidden" id="femaleHidden" name="genderFemale" value="">
                            <!-- Flaskで取得するため追加（非表示）value値はJSの関数changeColorで挿入 -->
                            <button type="button" id="female" class="css-button-sliding-to-left--rose"
                                name="genderFemale" value="female">女性</button>
                        </label>
                        <label class="gender-button" onclick="changeColor('gray')">
                            <input type="hidden" id="otherHidden" name="genderOther" value="">
                            <!-- Flaskで取得するため追加（非表示）value値はJSの関数changeColorで挿入 -->
                            <button type="button" id="other" class="css-button-sliding-to-left--grey" name="genderOther"
                                value="other">その他</button>
                        </label>
                    </div>
                    <button class="ui fluid large teal submit button" type="submit">登録</button>
                </div>
            </form>
            <h4>既にアカウントがある場合は<a href="{{ url_for('login') }}">こちらからログイン</a></h4>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 AITOTO. All rights reserved.</p>
        </div>
    </footer>

    <script>
        // 生年月日が1900~2030年の間でないと警告文を出す
        document.getElementById('birthday').addEventListener('change', function () {
            const dateValue = new Date(this.value);
            if (dateValue.getFullYear() < 1900 || dateValue.getFullYear() > 2030) {
                alert('年は4桁で入力してください。');
                this.value = ''; // 入力値をクリア
            }
        });

        // 性別のボタンの色を変える　かつ　性別の情報をボタンに合わせて書き換える
        function changeColor(color) {
            var male = document.getElementById('male');
            var female = document.getElementById('female');
            var other = document.getElementById('other');

            // 初期化
            male.style.backgroundColor = '';
            male.style.color = '#4433ff';
            female.style.backgroundColor = '';
            female.style.color = '#ff0a78';
            other.style.backgroundColor = '';
            other.style.color = '#495057';

            // 色を設定
            if (color === 'blue') {
                male.style.backgroundColor = '#4433ff';
                // 文字の色を白にする
                male.style.color = '#fff';
                // 性別の情報をFlaskが取得できるように値を挿入
                document.getElementById('maleHidden').value = 'male';
            } else if (color === 'red') {
                female.style.backgroundColor = '#ff0a78';
                female.style.color = '#fff';
                document.getElementById('femaleHidden').value = 'female';
            } else if (color === 'gray') {
                other.style.backgroundColor = '#495057';
                other.style.color = '#fff';
                document.getElementById('otherHidden').value = 'other';
            }
        }


    </script>
</body>

</html>