<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style-success.css">
    <title>SUCCESS</title>
</head>

<body>
    <header class="container flex">
        <a href="/" class="logo">
            <img src="../static/images/logo.png">
        </a>
    </header>

    <main>
        <h1>ご購入ありがとうございます<br>24時間以内に入力して頂いたメールアドレスにご連絡いたします</h1>
    </main>

</body>

</html>