<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-question.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-common.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/hamburger.js') }}"></script>
    <title>プレゼントアンケート</title>
</head>

<body>
    <header>
        <div class="ui secondary menu stackable header-sticky">
            <a href="{{ url_for('index') }}" class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
            </a>
            {% if current_user.is_authenticated %}
                <a class="item" href="{{ url_for('index') }}">トップページ</a>
                <a class="item" href="{{ url_for('preview') }}">プレゼント登録</a>
                <a class="item" href="{{ url_for('list', success=success) }}">マイリスト</a>
                <div class="right menu">
                    <a class="ui item" href="{{ url_for('logout') }}">ログアウト</a>
                </div>
            {% else %}
                <div class="right menu">
                    <a class="ui item" href="{{ url_for('register') }}">新規会員登録</a>
                    <a class="ui item" href="{{ url_for('login') }}">ログイン</a>
                </div>
            {% endif %}
            <div class="hamburger">
                <i id="hamburger-toggle" class="icon bars"></i>
            </div>
        </div>
    </header>
    
    <main>
        
        <div id="survey-form" class="ui form">
            <div class="title">
                <h1>アンケート内容</h1>
            </div>
            <form action="{{ url_for('view_survey', id=survey_data.post_id) }}" method="POST">
                <label for="recipientName">贈り先の名前<span class="required-mark">*</span>:</label>
                <input type="text" id="recipientName" name="recipientName" value="{{ survey_data.recipient_name }}">

                <label for="gender">性別<span class="required-mark">*</span>:</label>
                <select name="gender" id="gender">
                    <option value="male" {% if survey_data.gender == 'male' %} selected {% endif %}>男性</option>
                    <option value="female" {% if survey_data.gender == 'female' %} selected {% endif %}>女性</option>
                </select>

                <label>年齢<span class="required-mark">*</span>:</label>
                <select name="age" id="age">
                    <option value="" disabled selected>選択してください</option>
                    <option value="10s" {% if survey_data.age == '10s' %} selected {% endif %}>~10代</option>
                    <option value="20s" {% if survey_data.age == '20s' %} selected {% endif %}>20代</option>
                    <option value="30s" {% if survey_data.age == '30s' %} selected {% endif %}>30代</option>
                    <option value="40s" {% if survey_data.age == '40s' %} selected {% endif %}>40代</option>
                    <option value="50s" {% if survey_data.age == '50s' %} selected {% endif %}>50代</option>
                    <option value="60s" {% if survey_data.age == '60s' %} selected {% endif %}>60代以上</option>
                </select>

                <label>関係<span class="required-mark">*</span>:</label>
                <select name="relationship" id="relationship">
                    <option value="" disabled selected>選択してください</option>
                    <option value="family" {% if survey_data.relationship == 'family' %} selected {% endif %}>家族</option>
                    <option value="friends" {% if survey_data.relationship == 'friends' %} selected {% endif %}>友達</option>
                    <option value="partner" {% if survey_data.relationship == 'partner' %} selected {% endif %}>恋人</option>
                    <option value="acquaintance" {% if survey_data.relationship == 'acquaintance' %} selected {% endif %}>知人</option>
                    <option value="otherRelation" {% if survey_data.relationship == 'otherRelation' %} selected {% endif %}>その他</option>
                </select>

                <label>お祝いの種類<span class="required-mark">*</span>:</label>
                <select name="occasion" id="occasion">
                    <option value="" disabled selected>選択してください</option>
                    <option value="birthday" {% if survey_data.occasion == 'birthday' %} selected {% endif %}>誕生日</option>
                    <option value="graduation" {% if survey_data.occasion == 'graduation' %} selected {% endif %}>卒業</option>
                    <option value="jobCelebration" {% if survey_data.occasion == 'jobCelebration' %} selected {% endif %}>就職</option>
                    <option value="marriageCelebration" {% if survey_data.occasion == 'marriageCelebration' %} selected {% endif %}>結婚</option>
                    <option value="babyCelebration" {% if survey_data.occasion == 'babyCelebration' %} selected {% endif %}>出産</option>
                    <option value="acknowledgment" {% if survey_data.occasion == 'acknowledgment' %} selected {% endif %}>感謝</option>
                    <option value="otherOccasion" {% if survey_data.occasion == 'otherOccasion' %} selected {% endif %}>その他</option>
                </select>

                <label>予算<span class="required-mark">*</span>:</label>
                <select name="budget" id="budget">
                    <option value="" disabled selected>選択してください</option>
                    <option value="Up to 1000" {% if survey_data.budget == 'Up to 1000' %} selected {% endif %}>~1千円</option>
                    <option value="Up to 3000" {% if survey_data.budget == 'Up to 3000' %} selected {% endif %}>~3千円</option>
                    <option value="Up to 5000" {% if survey_data.budget == 'Up to 5000' %} selected {% endif %}>~5千円</option>
                    <option value="Up to 10000" {% if survey_data.budget == 'Up to 10000' %} selected {% endif %}>~1万円</option>
                    <option value="Up to 20000" {% if survey_data.budget == 'Up to 20000' %} selected {% endif %}>~2万円</option>
                    <option value="More than 20000" {% if survey_data.budget == 'More than 20000' %} selected {% endif %}>2万円~</option>
                </select>

                <label for="additionalNotes">その他の注意事項:</label>
                <textarea id="additionalNotes" name="additionalNotes">{{ survey_data.additional_notes }}</textarea>
                <div class="flex_home">
                    <button type="submit">変更を保存する</button>
                </div>
            </form>
    
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 AITOTO. All rights reserved.</p>
        </div>
    </footer>

    <script>
        // 性別のボタンの色を変える，性別の情報をボタンに合わせて書き換える
        function changeColor(color) {
            var male = document.getElementById('male');
            var female = document.getElementById('female');
            // var other = document.getElementById('other');

            // 初期化
            male.style.backgroundColor = '';
            male.style.color = '#4433ff';
            female.style.backgroundColor = '';
            female.style.color = '#ff0a78';
            // other.style.backgroundColor = '';
            // other.style.color = '#495057';

            // 色を設定
            if (color === 'blue') {
                male.style.backgroundColor = '#4433ff';
                // 文字の色を白にする
                male.style.color = '#fff';
                // 性別の情報をFlaskが取得できるように値を挿入
                document.getElementById('maleHidden').value = 'male';
            } else if (color === 'red') {
                female.style.backgroundColor = '#ff0a78';
                female.style.color = '#fff';
                document.getElementById('femaleHidden').value = 'female';
            } //else if (color === 'gray') {
            //     other.style.backgroundColor = '#495057';
            //     other.style.color = '#fff';
            //     document.getElementById('otherHidden').value = 'other';
            // }
        }

        function checkFormCompletion() {
            var recipientName = document.getElementById('recipientName').value;
            var gender = document.getElementById('gender').value;
            var age = document.getElementById('age').value;
            var relationship = document.getElementById('relationship').value;
            var occasion = document.getElementById('occasion').value;
            var giftReason = document.getElementById('budget').value;

            // 全ての項目が入力されている場合に送信ボタンを有効にする
            var submitButton = document.getElementById('submitButton');
            // もし全ての項目が入力されていたら
            if (recipientName && gender && age && relationship && occasion && giftReason) {
                submitButton.disabled = false;
            }
            // もし全ての項目が入力されていなかったら
            else {
                submitButton.disabled = true;
            }

            return submitButton.disabled;
        }

        function submitSurvey() {
            alert(selectedGender);
            // フォームが完全に入力されているかチェック
            var isFormCompleted = checkFormCompletion();
            // 全ての項目が入力されていなかったら
            if (isFormCompleted == false) {
                alert('全ての項目を入力してください');
                // /submit_surveyにリダイレクト
                window.location.href = '/submit_survey';

            }
        }
    </script>

</body>

</html>
